<p-carousel [value]="personajes" [numVisible]="6" [numScroll]="6" [circular]="false" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
      <h2>Personajes de Rick And Morty</h2>
  </ng-template>
  <ng-template let-personaje pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="mb-3">
                  <img [src]="personaje?.image" [alt]="personaje?.name" class="product-image" />
              </div>
              <div>
                  <h4 class="mb-1">{{personaje?.name}}</h4>
                  <h3 class="mt-0 mb-3">Episodios: </h3>
                  <p-button label="Ver Episodios" icon="pi pi-window-maximize" styleClass="p-button-sm" (onClick)="showModalDialog(personaje.episode)"></p-button>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>

<p-dialog header="Episodios" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <ul>
      <li *ngFor="let episodio of episodes; let i=index">
        <a [href]="episodio" target="_blank"> <i class="pi pi-external-link"></i> {{episodio}} </a>
      </li>
    </ul>
</p-dialog>